.WallPost {

}

.WallPost-item {
    border: 1px solid lightgrey;
}

.WallPost-attachments {

}

.WallPost-attachment {
    width: 100%;
    margin-bottom: 8px;
}

.WallPost-post-content {
    margin-top: 8px;
    margin-bottom: 8px;
}