.App {
    /*min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;*/
}

.App-content {
    /*padding: 10px 150px 20px;*/
}

.App-block-border {
    border: 1px solid grey;
}
